#list-item{
    background-color: rgb(53, 131, 155);
    color: rgb(231, 231, 237);
    text-align: center;
    font-weight: bold;
    border: 3px solid rgb(156, 163, 34);
    width: 60%;
    margin: auto;
}